@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	font-family: 'Kanit', sans-serif;
}
.navi {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}
.heading {
	font-size: 40px;
}

.new {
	margin-top: 7px;
	height: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	color: #fff;
	backface-visibility: hidden;
	border: 0.3rem solid transparent;
	border-radius: 3rem;
	border-color: transparent;
	background-color: #fff;
	color: #000;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.new:hover {
	transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
.lab-sec {
	padding-top: 20px;
	text-align: center;
}
.label {
	font-size: 50px;
}
.slug {
	font-size: 30px;
}
.row {
	display: flex;
}